{% extends 'base.html.twig' %}

{% block title %}Edit CategorieBlog{% endblock %}

{% block body %}
    <h1>Edit CategorieBlog</h1>

    {{ include('categorie_blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_blog_index') }}">back to list</a>

    {{ include('categorie_blog/_delete_form.html.twig') }}
{% endblock %}
