{% extends 'base.html.twig' %}

{% block title %}New CategorieBlog{% endblock %}

{% block body %}
    <h1>Create new CategorieBlog</h1>

    {{ include('categorie_blog/_form.html.twig') }}

    <a href="{{ path('app_categorie_blog_index') }}">back to list</a>
{% endblock %}
